.similar-job-container {
  width: 35%;
  list-style-type: none;
  border: 0;
  padding: 20px;
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.similar-job-logo-position-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.similar-job-logo {
  width: 23%;
  margin-right: 20px;
}

.similar-job-position-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.similar-job-position-para {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.similar-rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.similar-rating-star-logo {
  color: #fbbf24;
  font-size: 16px;
  margin-right: 10px;
}

.similar-rating-para {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.similar-description-heading {
  color: white;
  font-size: 25px;
  font-weight: 500;
  align-self: flex-start;
  margin-bottom: 15px;
}

.similar-description-para {
  color: white;
  font-size: 17px;
  font-weight: 300;
  align-self: flex-start;
  margin-bottom: 15px;
}

.similar-job-location-type-salary-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.similar-job-location-type-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.similar-job-location-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}

.similar-job-type-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.similar-job-location-type-icon {
  color: white;
  font-size: 20px;
  margin-right: 8px;
}

.similar-job-location-type-para {
  color: white;
  font-size: 13px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .similar-job-container {
    width: 100%;
  }

  .similar-job-logo {
    width: 16%;
  }
}
