.job-bg {
  background-color: #000000;
  min-height: 87vh;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-list-and-search-container {
  width: 68%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.job-search-container {
  width: 60%;
  border: 1px solid #7e858e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.job-input-search {
  width: 85%;
  border: 0;
  background-color: transparent;
  padding: 10px;
  color: white;
  outline: none;
}

.job-search-logo-container {
  width: 15%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  cursor: pointer;
}

.job-search-logo-btn {
  width: 15%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  cursor: pointer;
  border: 0;
}

.retry-btn {
  padding: 10px;
  border: 0;
  background-color: #4f46e5;
  width: 10%;
  font-weight: normal;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.job-search-logo {
  color: white;
  font-size: 20px;
}

.jobs-over-view-section {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-job-over-view-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.not-job-found-img {
  width: 50%;
  margin-bottom: 14px;
}

.no-job-found-heading {
  color: white;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 12px;
}

.no-job-found-para {
  color: #7e858e;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 9px;
}

.retry-btn {
  padding: 10px;
  border: 0;
  background-color: #4f46e5;
  width: 10%;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}

.job-search-container-small-device {
  display: none;
}

@media screen and (max-width: 767px) {
  .job-bg {
    flex-direction: column;
  }

  .job-list-and-search-container {
    width: 95%;
    align-items: center;
  }

  .job-search-container {
    display: none;
  }

  .job-search-container-small-device {
    width: 95%;
    border: 1px solid #7e858e;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .job-input-search-small-device {
    width: 85%;
    border: 0;
    background-color: transparent;
    padding: 10px;
    color: white;
    outline: none;
  }

  .job-search-logo-container-small-device {
    width: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    cursor: pointer;
  }

  .job-search-logo-btn-small-device {
    width: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    cursor: pointer;
    border: 0;
  }
}
